Model   QL 16
Point_Num   22
    NAME        넥_검사          RUP_O          RUP_I          RDN_O          RDN_I            RHD         평면도          THICK          TAPER          DTV_O          DTV_I          D_DTV          ORDER       ORDER_NO       외측단차       내측단차           전장         중심경        ORDER_L     ORDER_L_NO           UP//           DN//        Time            Operator
    UNIT              3              3              3              3              3              3              3              3              3              3              3              3              3              0              3              3              3              3              3              0              3              3
   K.TOL              0              0              0              0              0              0              0              0              0              0              0              0              0              0              0              0              0              0              0              0              0              0
     USL          8.000          0.025          0.025          0.025          0.025          0.025          0.030         25.200          0.030          0.005          0.005          0.010          0.500             40         22.000         39.000         47.000         69.030          1.000              7          0.030          0.030
     LSL          5.500          0.000          0.000          0.000          0.000          0.000          0.000         24.800          0.000          0.000          0.000          0.000          0.000              8         21.600         38.600         46.600         69.000          0.000              2          0.000          0.000
       1          0.000          0.006          0.004          0.007          0.005          0.006          0.011         25.115          0.012          0.003          0.002          0.003          0.203             20         21.741         38.814         46.756         69.019          0.482              2          0.004          0.004    16:14:33             NAMYANG
